<div class="form-box">
    
    <form class="form">
        <h6 class="text-center">CROWN WEALTH INSTITUTION</h6>
        <span class="title">Sign up Admin</span>
        <div class="form-container">
            <input type="text" placeholder="FirstName"  [(ngModel)]="AdminFName">
           <input type="text"  placeholder="LastName" [(ngModel)]="AdminLName">
            <input type="email" placeholder="Email" [(ngModel)]="AdminEmail">
            <input type="text" placeholder="Age" [(ngModel)]="AdminAge">
            <input type="password" placeholder="Password" [(ngModel)]="AdminPassword">
        </div>
        <button (click)="signup()">Sign up</button>
    </form>
</div>