<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
      <a routerLink="dashboard" class="navbar-brand" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <a routerLink="/AdminSignUp" class="nav nav-link text-info">Admin Sign Up</a>
          <a routerLink="/AdminSignIn" class="nav nav-link text-info">Admin Sign In</a>
          <a routerLink="/studentsignup" class="nav nav-link text-info">Student Sign In</a>
        </form>
      </div>
    </div>
  </nav>